<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/bootstrap/bootstrap.min.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{"/assets/scripts/bootstrap/bootstrap.min.js" | prepend: site.baseurl}}"></script>

    <!--PhotoSwipe -->
    <link rel="stylesheet" href="{{"/assets/scripts/photoswipe/photoswipe.css" | prepend: site.baseurl}}"></script>
    <link rel="stylesheet" href="{{"/assets/scripts/photoswipe/default-skin/default-skin.css" | prepend: site.baseurl}}"></script>
    <script src="{{"/assets/scripts/photoswipe/photoswipe.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{"/assets/scripts/photoswipe/photoswipe-ui-default.min.js" | prepend: site.baseurl}}"></script>

</head>
