.avatar{
    text-align: center;
    margin-bottom: 10px;
	img{
		border-radius: 25px;
		width: 50px;
	}
}
tags{
	margin-bottom: 10px;
	display: block;
}
.post-content{
	margin-bottom: 10px;
}
.share-via{
	display: block;
	margin-top: 20px;
}
.label-default{
    background-color: #777;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.page-tags {
    background: red;
    height: 100px;
}