<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if site.environment == 'production' %}
    {% include google_analytics.html %}
  {% endif %}
  
  {% include facebook_page_info.html %}
  <script src="//load.sumome.com/" data-sumo-site-id="0b92bd58a0af51a51868377c6e12afea55f26e7b938fdb7a184f877671f26b35" async="async"></script>
  <body>  
    <div class="container">
    <div class="row">
      {% include header.html %}

      <div class="page-content col col-sm-12">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>      

      {% include footer.html %}
    </div>
    </div>
  </body>

</html>
