---
layout: default
comments: true
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  {% include inpage_ads.html %}                            
  <article class="post-content">
    {{ content }}
  </article>
  {% include inpage_ads.html %}
  <tags>
	  {% for tag in page.tags %}
	  	<span class="label label-default">{{tag}}</span>  	
	  {% endfor %}	
  </tags>    
  <readmore>
    Read More...
    <br>        
    {% for post in page.read_more %}                
      {%assign test = site.documents | where: 'related_id', post | first%}
        {% if test %}  
          {% include ga_link.html title=test.title linktype="related" url=test.url %}                            
          <br>
        {% endif %}
      
    {% endfor %}
    {% for tag in page.tags %}
      {% for doc in site.documents %}
        
        {% for tt in doc.tags %}          
          {% if tt contains tag %}            
            {%assign test = site.documents | where: 'related_id', doc.related_id | first%}
            {% if page.read_more contains doc.related_id %}
            {% else %}
            {% if page != test %}
            {% include ga_link.html title=test.title linktype="related" url=test.url %}                            
            <br/>
            {%endif%}
            
            {% endif %}
            
          {% endif %}  
        {% endfor %}
        
      {% endfor %}
    
    {% endfor %}
  </readmore>
  <comments>
    {% include disgus_comments.html %}
  </comments>
</div>
